.visitor-sidebar {
  width: 250px;
  background-color: #B0E0E6; /* Couleur de fond de la sidebar */
  color: #333; /* Couleur du texte */
  position: fixed;
  height: 100%;
  padding: 10px;
  box-sizing: border-box; /* Assure que padding et border sont inclus dans la largeur totale */
}

.visitor-sidebar nav {
  display: flex;
  flex-direction: column;
}

.visitor-sidebar .logo {
  width: 150px;
  margin: 20px 0;
  align-self: center; /* Centrer le logo */
}

.visitor-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.visitor-sidebar ul li {
  width: 100%;
}

.visitor-sidebar ul li a,
.visitor-sidebar ul li button {
  display: block;
  color: #333; /* Couleur du texte des liens */
  text-decoration: none;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s, text-decoration 0.3s;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px; /* Assurez-vous que la taille de la police est la même */
  box-sizing: border-box; /* Assurez-vous que padding et border sont inclus dans la largeur */
}

.visitor-sidebar ul li a:hover,
.visitor-sidebar ul li button:hover,
.visitor-sidebar ul li a:focus,
.visitor-sidebar ul li button:focus {
  background-color: #87CEFA; /* Couleur de fond au survol */
  text-decoration: underline;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out; /* Animation plus lente pour la fermeture */
}

.submenu.open {
  max-height: 1000px; /* Ajustez cette valeur en fonction de la hauteur maximale nécessaire */
  transition: max-height 0.5s ease-in; /* Animation plus lente pour l'ouverture */
}

.submenu li {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Animation de l'opacité */
}

.submenu.open li {
  opacity: 1; /* Transition de l'opacité lors de l'ouverture */
}

.submenu-toggle {
  display: block;
  color: #333; /* Couleur du texte des liens */
  text-decoration: none;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s, text-decoration 0.3s;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px; /* Assurez-vous que la taille de la police est la même */
  box-sizing: border-box; /* Assurez-vous que padding et border sont inclus dans la largeur */
}

.submenu-toggle:hover,
.submenu-toggle:focus {
  background-color: #87CEFA; /* Couleur de fond au survol du bouton du sous-menu */
  text-decoration: underline;
}

.visitor-sidebar ul li.no-indent {
  margin-left: 0px;
}

.visitor-sidebar ul li.no-indent .submenu {
  margin-left: 20px;
}
