.ouvrages-list {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.ouvrages-list h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  color: #333;
}
h1{text-align: center;}
.ouvrages-list ul {
  list-style-type: none;
  padding-left: 0;
}

.ouvrages-list li {
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.6;
  position: relative;
  padding-left: 20px;
}

.ouvrages-list li::before {
  content: '•';
  color: #02213a;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

.ouvrages-list strong {
  color: #02213a;
}
.profile-image {
  width: 150px; /* Largeur fixe pour l'image */
  height: 150px; /* Hauteur fixe pour l'image pour maintenir la forme ronde */
  border-radius: 50%; /* Assure que l'image reste ronde */
  object-fit: cover; /* Couper l'image pour remplir le conteneur sans déformation */
  display: block; /* Assure que l'image est un bloc et non inline */
  margin: 0 auto; /* Centre l'image horizontalement */
}

.pdf-link {
  margin-left: 10px;
  color: #05a7bd;
  text-decoration: underline;
}

.pdf-link:hover {
  text-decoration: none;
}

.error {
  color: red;
  font-weight: bold;
}
